<script>
  import { createEventDispatcher, onMount } from "svelte";
  import { Card, CardHeader, CardBody, Button } from "sveltestrap";

  export let categoryTitle,
    required = true;

  let taskList = [];
  let taskListContainer;

  const dispatch = createEventDispatcher();
  let editing = false,
    original;
  let editingTask = false;
  let taskName;

  onMount(() => {
    original = categoryTitle;
  });

  function edit() {
    editing = true;
  }

  function submit() {
    if (categoryTitle != original) {
      dispatch("submit", categoryTitle);
    }

    editing = false;
  }

  function submitTask() {
    addTask(taskName);

    editingTask = false;
  }

  function keydown(event) {
    if (event.key == "Escape") {
      event.preventDefault();
      categoryTitle = original;
      editing = false;
    }
  }

  function focus(element) {
    element.focus();
  }

  function addTask(name) {
    if (name) {
      taskList = [...taskList, { id: taskList.length + 1, name: name }];
      console.log(taskList);
      taskName = "";
    }
    // let input =
    //   '<input bind:value={newItem} type="text" placeholder="new todo item..">';
    // taskListContainer.append(input);
  }

  function editTask() {
    editingTask = true;
  }

  function keydownTask(event) {
    if (event.key == "Escape") {
      event.preventDefault();
      editingTask = false;
      taskName = null;
    }
  }
</script>

<main>
  <Card>
    <CardHeader>
      {#if editing}
        <form on:submit|preventDefault={submit} on:keydown={keydown}>
          <input
            bind:value={categoryTitle}
            on:blur={submit}
            {required}
            use:focus
          />
        </form>
      {:else}
        <h4 on:click={edit}>{categoryTitle}</h4>
      {/if}
    </CardHeader>
    <CardBody>
      <div bind:this={taskListContainer}>
        {#each taskList as item, index}
          <Card color="light">
            <span id="item.id">{item.name}</span>
          </Card>
          <br />
        {/each}
      </div>
      {#if editingTask}
        <form on:submit|preventDefault={submitTask} on:keydown={keydownTask}>
          <input
            bind:value={taskName}
            on:blur={submitTask}
            {required}
            use:focus
          />
        </form>
      {/if}
      <div>
        <Button on:click={editTask} color="secondary" outline="dark"
          >Add a card</Button
        >
      </div>
    </CardBody>
  </Card>
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
