<script>
  import { createEventDispatcher, onMount } from "svelte";
  import { Card, CardHeader, CardBody, Button } from "sveltestrap";
</script>

<main>
  <h4>It's me Mario!</h4>
</main>

<style>
</style>
