<script>
  import { Button, Col, Row } from "sveltestrap";
  import CategoryCard from "./components/CategoryCard.svelte";

  let title = ["Draft", "Todo", "Doing", "Done"];

  function submit(field) {
    return ({ detail: newValue }) => {
      // IRL: POST value to server here
      console.log(`updated ${field}, new value is: "${newValue}"`);
    };
  }
</script>

<main>
  <h1>Kanban Board With Svelte</h1>
  <Row>
    <Col
      ><CategoryCard
        bind:categoryTitle={title[0]}
        on:submit={submit("title")}
        onValueChange={(x) => console.log(x)}
      /></Col
    >
    <Col
      ><CategoryCard
        bind:categoryTitle={title[1]}
        on:submit={submit("title")}
        onValueChange={(x) => console.log(x)}
      /></Col
    >
    <Col
      ><CategoryCard
        bind:categoryTitle={title[2]}
        on:submit={submit("title")}
        onValueChange={(x) => console.log(x)}
      /></Col
    >
    <Col
      ><CategoryCard
        bind:categoryTitle={title[3]}
        on:submit={submit("title")}
        onValueChange={(x) => console.log(x)}
      /></Col
    >
  </Row>
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    font-size: 4em;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
